@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Poppins", sans-serif; /* background-color: #a4c4b5; */
}

html,
body {
  height: 100%;
}

a:hover {
  color: rgb(253, 10, 10);
}

#video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.topNavRight {
  float: right;
}
nav a {
  padding: 0 10px;
}

nav {
  overflow: hidden;
  padding: 16px;
  color: black;
  position: relative;
  padding-top: 15px;
  font-size: 18px;
}

ul {
  float: right;
}

li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  height: 93.5%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.1vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
}

h1 {
  line-height: 1.2;
  display: block;
  opacity: 0.7;
}

section {
  display: block;
  height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 100px;
  box-sizing: border-box;
}

#about-me {
  background-color: rgb(165, 207, 201);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-me h1 {
  text-align: left;
  justify-content: left;
  border-bottom: 20px;
}

#about-me p {
  padding: 30px 0;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#about-me img {
  padding: 40px 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
}

#work {
  background-color: rgb(152, 181, 189);
  height: 100%;
  font-weight: 300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

#contact {
  background-image: url("../images/backgroundimg.jpg");
  height: 100%;
  font-weight: 300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactDetails {
  color: white;
  font-size: 18px;
  letter-spacing: 0.7vw;
  text-transform: uppercase;
}

/* .row {
  margin: 2%;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
} */

.content {
  background-color: white;
  padding: 20px;
  border-radius: 4%;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 45%;
    flex-wrap: wrap;
  }
}
