* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

nav {
  padding: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: #a4c4b5; */
  color: #ffffff;
  position: relative;
}

ul {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Syncopate", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Syncopate", sans-serif;
  color: #fff;
  line-height: 1.2;
  display: block;
  opacity: 0.7;
}

.header h1 {
  letter-spacing: -0.1vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 5.5vw;
}

.header span {
  display: block;
  font-size: 1.5vw;
  letter-spacing: 0vw;
}

section {
  display: block;
  height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 100px;
  box-sizing: border-box;
}

#about-me h1 {
  color: black;
}

/* #about-me {
  background-image: url("../images/backgroundimg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
#work {
  background-image: url("../images/bgdimg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
